<p [ngClass]="{'vital' : isAdmin}">Bonjour !</p>
<div *ngIf="isAdmin">
  <button>Edit</button>
</div>
<button>View</button>

<ul>
  <li [ngStyle]="{backgroundColor : isThisIngredientVital ? 'red' : 'yellow'}" >Pommes de terre</li>
  <li [ngClass]="{'vital' : isThisIngredientVital}">Raclette</li>
  <li [ngClass]="{'vital' : isThisIngredientVital}">Jambon</li>
  <li>Cornichon</li>
  <li>Chou-fleur</li>
</ul>
<hr>
<ul *ngIf="maCondition">
<li>blibli</li>
<li>blabla</li>
<li>bloblo</li>
</ul>
<hr>
<ul *ngFor="let song of songList">
  <li>{{ song }}</li>
</ul>
